@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}


@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


dfn {
	padding: 0 0.4em;
	font-style: normal;
	position: relative;
}

dfn::after {
	content: attr(data-info);
	display: inline;
	position: absolute;
	top: 22px;
	left: 0;
	opacity: 0;
	width: fit-content;
	font-size: 13px;
	font-weight: 700;
	line-height: 1.5em;
	padding: 0.5em 0.8em;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	pointer-events: none;
	/* This prevents the box from apearing when hovered. */
	transition: opacity 250ms, top 250ms;
}

dfn::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 20px;
	opacity: 0;
	width: 0;
	height: 0;
	border: solid transparent 5px;
	border-bottom-color: rgba(0, 0, 0, 0.8);
	transition: opacity 250ms, top 250ms;
}

dfn:hover {
	z-index: 2;
}


dfn:hover::after,
dfn:hover::before {
	opacity: 1;
}

dfn:hover::after {
	top: 30px;
}

dfn:hover::before {
	top: 20px;
}