.step-card {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 10px;
    transition: 0.3s;
    opacity: 0.6;
}

.step-card-clicked {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 10px;
    opacity: 1;
    border-color: #477cFF;
}

.step-card:hover {
    opacity: 1;
    border-color: #477cFF;
}

.SimPanelButton:hover {
    background: #cdcbcd;
    border: "none";
    padding: 0;
}